<?xml version="1.0"?>
<robot name="myfirst">
    <link name="base_link">
        <visual>
            <geometry>
                <sphere radius="0.01"/>
            </geometry>
            <material name="yellow">
                <color rgba="1 1 0 0.75"/>
            </material>
        </visual>
        <inertial>
            <mass value="1"/>
            <inertia ixx="1" iyy="1" izz="1"/>
        </inertial>
    </link>
</robot>